
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 62.5%;
    /* font-size: 6px; */
}


/* <!-- =========================================== Navbar start ============================================= --> */

.nav {
    width: 100%;
    height: 88px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color: red;
    z-index: 1;
    
}


.nav div.main_list {
    height: 65px;
    float: right;
    margin-top: -55px;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 34px;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 15px;
}

.nav div.main_list ul li a:before {
    content: '';
    width: 0px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 70%;
    transition: 0.5s;
}

.nav div.main_list ul li:hover a:before {
    width: 2%;
    transform: translateX(100%);
}


.logo_img {
    width: 44px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo_img img {
    width: 100%;
    height: 51px;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* <!-- =========================================== Navbar end ============================================= --> */





/* <!-- =========================================== Section1 start ============================================= --> */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(https://rokstar-portfolio.netlify.app/assets/img/bg/slider-bg.jpg);
    background-position: center top;
	/* background-size:cover; */
    background-repeat: no-repeat;
}

.forma {
    width: 100%;
    height: 200px;
    background-color: #202020;
    -webkit-clip-path:polygon(30% 0%, 70% 0%, 100% 0, 100% 37%, 81% 63%, 40% 44%, 0 62%, 0 0);;
    clip-path:polygon(30% 0%, 70% 0%, 100% 0, 100% 37%, 81% 63%, 40% 44%, 0 62%, 0 0);;
}


/* <!-- =========================================== Section1 end ============================================= --> */






/* <!-- =========================================== Section2 start ============================================= --> */

.section2_text {
    width: 100%;
    height: 80px;
    float: left;
  
    flex-direction: column;
    
  }

  .img-fluid {
    box-shadow: 1px 1px 15px 8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 15px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 15px 8px rgba(0,0,0,0.75);

  }


  .section2_text h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 29px;
    letter-spacing: 0;
    color: #222222;
    line-height: 30px;
    margin-top: 20px;
    
  }
  
  .kv::before {
    content: "";
    width: 55px;
    height: 6px;
    float: left;
    background-color: #202020;
  }

  .kv::after{
    content: "";
    width: 200px;
    height: 1px;
    float: left;
    background-color: #202020;
    margin-top: 3px;
  }
  
  
  .sosial_links span {
    font-size: 16px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    margin-top: 30px;
  }

  .icons {
    margin-left: 80px;
    margin-top: -23px;
  }

 .sosial_links a {
    font-size: 16px;
    color: rgb(34, 34, 34);
    margin-right: 10px;
 }

 /* <!-- =========================================== Section2 end ============================================= --> */













