
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 62.5%;
    /* font-size: 6px; */
}


/* <!-- =========================================== Cursor start ============================================= --> */

:root {
    --black-color: #17181c;
    --blue-color: #3e50b4;
    --white-rbg-color: 255, 255, 255;
    --green-rbg-color: 0, 212, 113;
 }
 
 * {
    margin: 0;
    padding: 0;
 }
 
 /*Bloque*/
 .header {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 
 .cursor {
    width: 20px;
    height: 20px;
    border: 10px solid rgba(var(--white-rbg-color), .8);
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursor-animate 550ms infinite alternate;
    
 }
 
 .cursor::after {
    content: "";
    width: 40px;
    height: 40px;
    border: 15px solid rgba(var(--white-rbg-color), .2);
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: -25px;
    animation: cursor-animate-2 550ms infinite alternate;
    
 }
 
 /*Elemento*/
 .header__title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: rgb(var(--green-rbg-color));
 }
 
 .bg__canvas {
    width: 100%;
    height: 100vh;
    background-color: var(--blue-color);
    box-sizing: border-box;
 }
 
 
 
 
 /*Modificador*/
 .cursor--expand {
    animation: cursor-animate-3 550ms forwards;
    border: 10px solid rgb(var(--green-rbg-color));
 }
 
 .cursor--expand::after {
    border: 15px solid rgba(var(--green-rbg-color), .3);
 }
 
 /* <!-- =========================================== Cursor end ============================================= --> */




/* <!-- =========================================== Navbar start ============================================= --> */

.nav {
    width: 100%;
    height: 88px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    /* background-color: #202020; */
    background-color: #202020;
    z-index: 1;
    
}


.nav div.main_list {
    height: 65px;
    float: right;
    margin-top: -55px;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 34px;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 15px;
}

.nav div.main_list ul li a:before {
    content: '';
    width: 0px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 70%;
    transition: 0.5s;
}

.nav div.main_list ul li:hover a:before {
    width: 2%;
    transform: translateX(100%);
}


.logo_img {
    width: 44px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo_img img {
    width: 100%;
    height: 51px;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* <!-- =========================================== Navbar end ============================================= --> */





/* <!-- =========================================== Section1 start ============================================= --> */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(https://rokstar-portfolio.netlify.app/assets/img/bg/slider-bg.jpg);
    background-position: center top;
	/* background-size:cover; */
    background-repeat: no-repeat;
}

.forma {
    width: 100%;
    height: 200px;
    background-color: #202020;
    -webkit-clip-path:polygon(30% 0%, 70% 0%, 100% 0, 100% 37%, 81% 63%, 40% 44%, 0 62%, 0 0);;
    clip-path:polygon(30% 0%, 70% 0%, 100% 0, 100% 37%, 81% 63%, 40% 44%, 0 62%, 0 0);;
}


/* <!-- =========================================== Section1 end ============================================= --> */






/* <!-- =========================================== Section2 start ============================================= --> */

.section2_text {
    width: 100%;
    height: 80px;
    float: left;
  
    flex-direction: column;
    
  }

  .img-fluid {
    box-shadow: 1px 1px 15px 8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 15px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 15px 8px rgba(0,0,0,0.75);

  }


  .section2_text h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 29px;
    letter-spacing: 0;
    color: #222222;
    line-height: 30px;
    margin-top: 20px;
    
  }
  
  .kv::before {
    content: "";
    width: 55px;
    height: 6px;
    float: left;
    background-color: #202020;
  }

  .kv::after{
    content: "";
    width: 200px;
    height: 1px;
    float: left;
    background-color: #202020;
    margin-top: 3px;
  }
  
  
  .sosial_links span {
    font-size: 16px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    margin-top: 30px;
  }

  .icons {
    margin-left: 80px;
    margin-top: -23px;
  }

 .sosial_links a {
    font-size: 16px;
    color: rgb(34, 34, 34);
    margin-right: 10px;
 }

 .tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}


 /* <!-- =========================================== Section2 end ============================================= --> */




 /* <!-- =========================================== Section3 start ============================================= --> */



.service_box {
  
  width: 100%;
  height: 200px;
  float: left;
  background: #ffffff;
  border: 1px solid #ddd;
  position: relative;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 6px;
  margin-top: 30px;
}
.icon {
  transform: rotate(320deg);
  color: white;
}

.p_1 {
  margin: 10px 10px 0 10px;
}

 /* <!-- =========================================== Section3 end ============================================= --> */










