
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 62.5%;
    font-size: 6px;
}


/* <!-- =========================================== Navbar start ============================================= --> */

.nav {
    width: 100%;
    height: 88px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color: red;
}


.nav div.main_list {
    height: 65px;
    float: right;
    margin-top: -55px;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 34px;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:before {
    content: '';
    width: 0px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 70%;
    transition: 0.5s;
}

.nav div.main_list ul li:hover a:before {
    width: 2%;
    transform: translateX(100%);
}


.logo_img {
    width: 44px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo_img img {
    width: 100%;
    height: 51px;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* <!-- =========================================== Navbar end ============================================= --> */





/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(https://rokstar-portfolio.netlify.app/assets/img/bg/slider-bg.jpg);
    background-position: center top;
	background-size:cover;
}




/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }

    .nav div.main_list ul li a:before{
        background: transparent;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav .logo_img {
        margin-left: 13px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 250px;
        right: 0;
        left: 0;
        bottom: 0px;
        margin-top: 72px;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
        
        
        
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: left;
           
        padding-left: 15px;
        
       
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 14px;
        
        
    }
    .nav div.media_button {
        display: block;
    }

    .nav div.main_list ul li a:before{
        background: transparent;
    }




    .home {
        width: 100%;
    }
}


